.vaiThClient,
.vaiThTitle,
.vaiThWorker,
.vaiThStarted,
.vaiThEnded,
.vaiThDuration,
.vaiThStatus {
  height: 43px;
  background: #13ad83;
  width: 164.14px;
  color: #fafafa;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  text-indent: 28px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

.vaiThClient {
  border-radius: 5px 0px 0px 0px;
}

.vaiThStatus {
  border-radius: 0px 5px 0px 0px;
}

tr {
  border-bottom: inset 1px #e2e8f0 !important;
}

tr:nth-child(3) > td {
  background-color: #116C53;
  color: #FAFAFA;
  border: none;
}

tr:nth-child(3) > td > div {
  border-color: #FAFAFA;
  color: #FAFAFA;
}

td {
  width: 164.14px;
  height: 45px;
  background: #ffffff;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
  text-indent: 28px;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 13px;
  line-height: 16px;
  text-transform: capitalize;
  color: #656565;
}

.vaiRunningStatus,
.vaiSuccessStatus,
.vaiStoppedStatus,
.vaiFailedStatus,
.vaiQueuedStatus {
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  color: #6d6d73;
  width: 81px;
  height: 18px;
  text-indent: 0px;
  margin-left: 28px;
  text-align: center;
}

.vaiRunningStatus {
  border: 1px solid #0459a9;
}

.vaiSuccessStatus {
  border: 1px solid #01d23c;
}

.vaiStoppedStatus {
  border: 1px solid #ff5c00;
}

.vaiFailedStatus {
  border: 1px solid #980202;
}

.vaiQueuedStatus {
  border: 1px solid #6d6d73;
}

.vaiTableFooter {
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  width: 100%;
  height: 64px;
  padding: 17px 20px;
}

.vaiListButton {
  background: #13ad83;
  border-radius: 4px;
  padding: 5px 11px;
  color: #fafafa;
  font-size: 12px;
  line-height: 14px;
  border: none;
  margin-right: 10px;
}

.vaiLabel {
  font-size: 12px;
  line-height: 14px;
  color: #656565;
  margin-right: 10px;
}

.vaiPaginationBtn {
  border: 1px solid #e2e8f0;
  width: 26px;
  height: 26px;
  background: #ffffff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #656565;
}

.vaiPaginationBtn:first-child {
  border-radius: 4px 0px 0px 4px;
}

.vaiPaginationBtn:nth-child(2) {
  background-color: #13ad83;
  border: none;
  color: #FAFAFA;
}

.vaiPaginationBtn:last-child {
  border-radius: 0px 4px 4px 0px;
}

.vaiChevLeftIcon,
.vaiChevRightIcon {
  width: 4.38px;
  height: 7.02px;
  margin-top: -1px;
}

.vaiChevLeftIcon {
  transform: rotate(180deg);
}

.vaiFilterIcon {
  margin-bottom: 2px;
}