.vaiSidebarHeader {
  padding-top: 25px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.vaiSidebarList {
    padding: 0px 15px;
}

.vaiLink {
    color: #787E82 !important;
    font-weight: 600;
    font-size: 15px;
}

.vaiActiveLink {
    color: #FAFAFA !important;
    font-weight: 600;
    font-size: 15px;
}

.vaiSidebarSearch {
    color: #787E82 !important;
    background-color: #0C212B !important;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #787E82 !important;
    border-left: none !important;
    padding: 5px 5px !important;
    font-size: 12px !important;
    position: relative;
}

.vaiSearchIcon {
    border: 1px solid #787E82;
    border-radius: 4px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 8px;
}

.vaiChevRight:after {
    content: url('../../assets/icons/Chevron-Right.png');
    position: absolute;
    right: 5%;
}