.vaiHeader {
  padding-top: 15px;
  padding-bottom: 5px;
  display: flex;
}

.vaiHeaderText {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.vaiHeaderSearch {
  padding: 3px 10px;
  width: 336px;
  height: 38px;
  background: #ffffff;
  color: #b1b1b1;
  border: 1px solid #ced4da;
  border-left: none;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  outline: none;
  box-shadow: none;
}

.vaiSearchIcon {
  border: 1px solid #ced4da;
  height: 38px;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #ffffff;
}

.vaiLabel {
  color: #6d6d73;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  margin-right: 5px;
  margin-left: 15px;
}

.vaiMinBtn,
.vaiBtnDefault,
.vaiBtnSaveView {
  color: #ffffff;
  font-size: 12px;
  line-height: 14px;
  text-transform: capitalize;
  background: #13ad83;
  border-radius: 4px;
  height: 36px;
  border: none;
}

.vaiMinBtn {
  width: 100px;
  border-radius: 4px 0px 0px 4px;
}

.vaiBtnRefresh {
    width: 37px;
    border-radius: 0px 4px 4px 0px;
    background-color: #128263;
    border: none;
    padding-bottom: 5px;
}

.vaiBtnDefault {
  width: 79px;
}

.vaiBtnSaveView {
  width: 106px;
  margin-left: 20px;
}
