/* BOLD ITALIC */
@font-face {
  font-family: 'SF Pro Bold Italic';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBLACKITALIC.OTF')
    format('opentype');
  font-style: normal;
}

/* BOLD */
@font-face {
  font-family: 'SF Pro Bold';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYBOLD.OTF')
    format('opentype');
  font-style: normal;
}

/* HEAVY ITALIC */
@font-face {
  font-family: 'SF Pro Heavy Italic';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYHEAVYITALIC.OTF')
    format('opentype');
  font-style: normal;
}

/* LIGHT ITALIC */
@font-face {
  font-family: 'SF Pro Light Italic';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYLIGHTITALIC.OTF')
    format('opentype');
  font-style: normal;
}

/* MEDIUM */
@font-face {
  font-family: 'SF Pro Medium';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF')
    format('opentype');
  font-style: normal;
}

/* REGULAR */
@font-face {
  font-family: 'SF Pro Regular';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF')
    format('opentype');
  font-style: normal;
}

/* SEMI BOLD ITALIC */
@font-face {
  font-family: 'SF Pro Semi Bold Italic';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYSEMIBOLDITALIC.OTF')
    format('opentype');
  font-style: normal;
}

/* THIN ITALIC */
@font-face {
  font-family: 'SF Pro Thin Italic';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYTHINITALIC.OTF')
    format('opentype');
  font-style: normal;
}

/* ULTRA LIGHT ITALIC */
@font-face {
  font-family: 'SF Pro Ultra Light Italic';
  src: url('./assets/fonts/sf-pro-display-cufonfonts/SFPRODISPLAYULTRALIGHTITALIC.OTF')
    format('opentype');
  font-style: normal;
}

p {
  font-family: 'SF Pro Ultra Light Italic';
}
